@(message: String)

@main("Welcome to Play") {


    @message


    <form id="form1" name="form1" method="post" action="">
        <table width="233" >
            <tr>
                <td width="57">First name </td>
                <td width="160"><label>
                    <input type="text" name="name" />
                </label></td>
            </tr>
            <tr>
                <td>Last Name </td>
                <td><label>
                    <input type="text" name="textfield2" />
                </label></td>
            </tr>
            <tr>
                <td>Tel</td>
                <td><label>
                    <input type="text" name="textfield3" />
                </label></td>
            </tr>
        </table>
        <label>
            <input type="submit" name="Submit" value="Submit" />
        </label>
    </form>
}
